<!-- Footer Template (footer.html) -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Other footer content -->
            
            <!-- Link to view all reviews -->
            <div class="col-md-4">
                <h5>Reviews</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'reviews' %}">View All Reviews</a></li>
                </ul>
            </div>
            
            <!-- Other footer content -->
        </div>
    </div>
</footer>
